<h1>Pirates</h1>

<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Weight: <%= @pirate.weight %> pounds</h4><br>
  <h4>Height: <%= @pirate.height %> inches</h4>
</div><br>

<h1><%= @team.name %></h1><br>
<h2>Team Motto:<%= @team.motto %>!</h2><br>
<% @heros.each do |hero| %>
  <div class="ship">
    <h2>Hero Name: <%= hero.name %></h2><br>
    <p>Hero Power: <%= hero.type %></p><br>
    <p>Hero Biography: <%= hero.booty %></p>
  </div><br>
<% end %>


